coverage
dist
package.json
pnpm-lock.yaml

packages/frontend/editor-ui/index.html
packages/nodes-base/nodes/**/test

packages/cli/templates/form-trigger.handlebars
packages/cli/templates/form-trigger-completion.handlebars
packages/cli/templates/form-trigger-409.handlebars
packages/cli/templates/form-trigger-404.handlebars

CHANGELOG.md

.github/pull_request_template.md

# ignorado por agora
**/*.md

# auxiliado pelo biome
**/*.ts
**/*.js
**/*.json
**/*.jsonc

# gerado automaticamente
**/components.d.ts

justfile